// These are the variables that I have pre-assigned in this scss file
// so I can use them wherever I want in the code without having to remember the exact amount.

$buttonBlue: #1272ad;
$servicesGray: #f3f6fa;
$themeColor: #00a88f;
$formDivs: 3;
$noOfServices: 5;
$noOfFlights: 3;